@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(240, 253, 244);
}

.swiper-button-next::after,
.swiper-button-prev::after{
    color: rgb(239 68 68) !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: rgb(239 68 68) !important;
}

html::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;
}